
    .desktop{
        display: none;
    }

    .title {
        text-align: center;
        font-family: Avenir Next, sans-serif; 
        font-size: 2.2em; 
        padding: 20px 0px 15px 0px;  
    }

    .sectitle{
        text-align: center;
        font-family: Avenir Next, sans-serif; 
        font-size: 2.2em; 
        padding: 20px 0px 15px 0px;
    }

    .top-nav{
        background: #f5930b;
        height: 80px; 
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
      
    
    .laslogo {
        margin: 15px 0px 10px 5%;
        height: 58px; 
      }

      .mobile-nav-menus{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 5% 0px 0px; 
        width: 35%; 
      }

      .nav-login{
          background: #fac985;
          border-radius: 15px; 
          padding: 2px 12.5% 2px 12.5%;
          width: 50%;
          text-align: center; 
          font-size: 0.5em;
          font-family: Avenir Next Bold, Avenir, sans-serif;
      }
      
      

      .bar-menu{
        display: inline-block;
        cursor: pointer;
        width: 30%;
      }
      
      .bar{
    
        width: 100%;
        height: 3px;
        background: #fbd49d;
        margin: 4px 0px 4px 0px;
      }

      .slide{
          width: 100%; 
          height: 315px; 
          position: absolute;
          transition: 1s transform, 0s opacity;  
      }

      .carousel{
          overflow-x: hidden; 
          height: 315px; 
          position: relative;
      }

      .carouseltext{
          position: relative;
          top: 36%;
          width: 75%;
          color: #fbfbfb;
          font-family: Avenir Next, sans-serif;
          text-align: center;
          margin: auto;
      }

      .carouselleft{
          position: absolute;
          border-top: 3px solid #fbfbfb; 
          border-left: 3px solid #fbfbfb; 
          transform: rotate(-45deg); 
          top: 40%; 
          left: 5%;
          height: 25px; 
          width: 25px; 
          z-index: 2; 
      }

      .carouselright{
        position: absolute;
        border-top: 3px solid #fbfbfb; 
        border-left: 3px solid #fbfbfb; 
        transform: rotate(135deg); 
        top: 40%; 
        right: 5%;
        height: 25px; 
        width: 25px; 
      }

      .contactustop{
          position: relative;
          border-radius: 15px;
          width: 125px; 
          margin: auto;
          top: 80%; 
          background: #ffffff; 
          text-align: center;
          padding: 1px 0px 1px 0px; 
          font-size: 1.1em; 
      }

      .contactustoptext{
          font-family: Avenir Next, sans-serif; 
      }

      .contacttitle{
          color: #fffefe;
          font-size: 1.2em; 
          padding: 5px 0px 6px 0px; 
          font-family: Avenir Next, sans-serif; 
      }

      .carouselone{
        background-image: linear-gradient(rgba(84,164,73,0.65), rgba(84,164,73,0.65)), url(../images/cogs.jpg);
        background-size: cover;
        top: 0%; 
        transform:translate(0%, 0%);
      }

      .carouseltwo{
        background-image: linear-gradient(rgba(225,90,0, 0.75), rgba(225,90,0, 0.75)), url(../images/peoplequestionmark.jpg);
        background-size: 100% 100%;
        top: 0%; 
        transform:translate(100%, 0%);
      }

      .carouselthree{
        background-image: linear-gradient(rgba(0,84,153,0.75), rgba(0,84,153,0.75)), url(../images/facesextract.png);
        background-size: 100% 100%;
        top: 0%; 
        transform:translate(200%, 0%);
      }

      .contactfront{
          position: relative; 
      }

    .contactdfrontback{
        background-image: linear-gradient(rgba(84,164,73,0.65), rgba(84,164,73,0.65)), url(../images/cogs.jpg);
        background-size: contain;
        top: 0%; 
        width: 100%; 
      }

      .contactfronttext{
          text-align: center;
          font-family: Avenir Next, sans-serif;
          color: #fbfbfb;
          font-size: 1.1em; 
          position: relative;
          margin: auto;
          padding: 30px 0px 30px 0px; 
          width: 85%; 
          text-shadow: 1px 1px #000000; 
      }
      
      .contactform{
          width: 85%; 
          margin: 15px auto 0px auto; 
          background:rgba(0, 0, 0, 0.5); 
          padding: 0px 2.5px 10px 2.5px; 
      }

      .in{
          width: 96%; 
          padding: 10px 0px 10px 5px; 
          margin: 0px auto 10px auto; 
          display: block;
          border: none; 
          border-radius: 10px; 

      }

      .contactsubmit{
          background: rgba(160,160,160, 0.5);
          color: #fbfbfb; 
          font-family: Avenir Next, sans-serif;
          display: block;
          font-size: 1em; 
          margin: 20px auto 0px auto;
          border-radius: 15px; 
          padding: 5px 15px 5px 15px; 
      }
    
      .porttitle{
          border-bottom: 1px solid #3C3C3C;
          margin-bottom: 10px; 
          color: #fbfbfb;
      }

      .porttext{
          text-align: center;
          font-family: Avenir Next, sans-serif; 
          color: #fbfbfb;
          font-size: 1.1em; 
          margin: 10px 0px 10px 0px; 
      }

      .portimg{
          margin: auto; 
          display: block;
      }

      .portfolio{
          background: #72c267;
          padding: 0px 0px 20px 0px; 
      }

      .portlinks{
        display: flex; 
        flex-flow: row wrap;
      }

      .card{
          width: 100%;
          border-bottom: 1px solid #3C3C3C;
          margin-bottom: 10px; 
      }

      .trans-btn-container{
          position: relative;
          text-align: center; 
          margin: 20px auto 20px auto; 
          width: 125px; 
      }

      .show-more-work{
        background: #3c3c3c;
        border-radius: 15px; 
        padding: 2px 10px 2px 10px;
        opacity: 0.65;
        height: 115%; 
        position: absolute;
        width: 100%;
        top: -10%;
        left: 0%;
      }

      .trans-work-text{
        font-family: Avenir Next Bold, Avenir, sans-serif;
        color: #fbfbfb; 
        font-size: 1em;
        position: relative;
      }

      .ourclientstitle{
        font-size: 1.75em;
      }
      
      .clientlinks{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;  
          flex-wrap: wrap;
          margin: auto; 
          width: 90%; 
      }

      .client-image {
          align-self: center;
          position: relative;  
          height: 32px;  
          margin: 10px 15px 10px 15px;   
      }

      .blurb{
          width: 80%; 
          margin: 0px auto 25px auto; 
          padding: 15px 0px 30px 0px; 
          background: #fbfbfb;
          text-align: center;
          border-radius: 15px;  
          display: block;
          font-family: Avenir Next, sans-serif;
      }

      .blurbtcon{
          width: 90%; 
          margin: auto;
      }

      .subtitle{
          font-family: Avenir Next Bold, sans-serif; 
      }

      .blurbtext{
          padding: 0px 0px 10px 0px; 
      }

      .whoweare{
        background: #72c267;
        padding: 0px 0px 25px 0px;
      }

      .whoweare .title{
        color: white;
        font-size: 1.75em; 
    }

      .testimonial{
          background: #1068ad; 
          padding: 0px 0px 25px 0px; 
      }

      .testimonial .title{
        color: #fbfbfb; 
        font-size: 1.75em; 
    }

    .testimonial .sectitle{
        color: #fbfbfb; 
        font-size: 1.75em;
    }

    .attribution{
        font-size: 1.4em; 
    }

    .personaltitle{
        font-size: 1.15em;
    }
      
      .foot{
        background: #72c267;
        font-size: 0.65em;
        padding: 20px 0px 0px 0px; 
        line-height: 16px; 
      }

      .socialicons{
          text-align: center;
          padding: 10px 0px 10px 0px; 
          color: #fbfbfb;
      }

      .socialicons > * {
          margin: 0px 5px 0px 5px; 
      }

      .footerinfo{
          width: 95%; 
          margin: auto; 
          padding: 0px 0px 10px 0px; 
          color: #fbfbfb; 
      }

      .footeraddress{
          width: 48%; 
          display: inline-block;
          vertical-align: top;
          font-family: Avenir Next, sans-serif;
          line-height: 18px; 
      }

      .footerlinks{
          width: 49%; 
          display: inline-block;
          font-family: Avenir, sans-serif;
          float: right;
      }

      .aboutuslinks{
        width: 50%; 
        display: inline-block;
      }

      .aboutuslinks li{
          margin-bottom: 3px; 
      }

      .contactuslinks{
          width: 40%; 
          display: inline-block;
          vertical-align: top;
          float: right;
      }

      .contactuslinks li{
          margin-bottom: 3px; 
      }

      .copyrightarea{
          background: #fbfbfb;
          text-align: center; 
          padding: 10px 0px 10px 0px; 
          font-family: Avenir Next, sans-serif; 
      }

@media screen and (min-width: 479px){

    .carousel{
        height: 375px; 
    }

    .slide{
        height: 375px; 
    }

    .carouseltext{
        font-size: 1.2em; 
    }

    .porttitle{
        margin-bottom: 0px; 
    }

    .card{
        width: 50%; 
        border: 1px solid #3C3C3C;
        padding: 10px; 
        display: flex; 
        flex-flow: column;
        align-items: center; 
        margin: 0px; 
    }

    .card:nth-child(odd){
        border-left: none; 
    }

    .card:nth-child(even){
        border-right: none; 
    }

    .client-image{
        height: 42px; 
    }

    .foot{
        font-size: 0.85em; 
    }
}

@media screen and (min-width: 768px){
  
    .mobile{
        display: none; 
    }

    .desktop{
        display: inherit;
    }
    
    .top-nav{
        height: 100px; 
    }

    .main-navigation{
        margin: 0px 15px  0px 0px; 
    }

    .laslogo{
        height: 72px;
    }

    .desktop-main-menu-container ul li{
        float: left; 
        color: #fffefe;
        font-family: Avenir, sans-serif; 
        font-size: 0.85em; 
        margin: 0px 10px 0px 0px; 
        position: relative; 
    }

    .desktop-main-menu-container ul li:last-child{
        padding: 0px 10px 0px 10px; 
        border-radius: 15px; 
        background: #fffefe;  
        color: black; 
    }

    .desktop-main-menu-container ul li ul{
        display: none; 
    }

    .desktop-main-menu-container ul li:hover{
        color: #235a91;
        z-index: 2;
    }

    .desktop-main-menu-container ul li:hover ul{
        display: block; 
        position: absolute; 
        background: rgb(234,236,234,0.75);
        width: 200px; 
        top: 5%; 
        left: -10%; 
        padding: 36px 0px 15px 5px; 
        z-index: -1; 
    }

    .desktop-main-menu-container ul li ul li{
        padding: 2.5px 0px 2.5px 10px; 
        background: #fffefe; 
        margin: 0px 0px 5px 0px; 
        color: rgb(100, 98, 98); 
        font-family: Avenir Next, sans-serif; 
        position: relative; 
        left: -5px; 
        width: 200px;
    }

    .desktop-main-menu-container ul li ul li:last-child{
        padding: 0px 10px 0px 10px; 
        border-radius: 0px; 
        background: #fffefe;  
    }

    .main-menu{
        float: right; 
        display: inline-block; 
       
    }

    .carouseltext{
        font-size: 1.35em; 
    }

    .carousel{
        height: 400px; 
    }

    .slide{
        height: 400px;
    }

    .contactustop{
        width: 140px; 
        font-size: 1.2em; 
        padding: 2px 0px 2px 0px; 
    }

    .contactdfrontback{
        height: 400px; 
        display: flex; 
        background-size: cover;
    }

    .contactfronttext{
        width: 60%; 
        display: inline-block; 
        font-size: 1.65em; 
        text-shadow: 2px 2px #000000; 
    }

    .contactform{
        width: 250px;
        float: right; 
        display: inline-block;
        margin: 86px 35px 60px 20px;
        border-radius: 12px; 
    }

    .in{
        width: 80%; 
        border-radius: 30px; 
    }

    .portfolio .title{
      padding: 15px 0px 0px 0px;
      border: none;  
    }

    .portlinks{
        flex-flow: nowrap; 
        justify-content: space-around;
    }

    .card{
        border: none;
        width: 110px;   
    }

    .trans-btn-container{
        width: 140px;
        padding: 2px 0px 2px 0px;
        margin: 36px auto 38px auto;   
    }

    .testimonial .trans-btn-container{
        margin: 12px auto 0px auto; 
    }

    .client-image{
        height: 50px; 
    }

    .whoweare{
        display: flex;
        flex-flow: wrap; 
    }

    .whoweare .title {
        width: 100%; 
        margin: 20px 0px 32px 0px; 
    }

    .blurb{ 
        width: 30%; 
    }

    .blurb img{
        height: 100px; 
    }

    .testimonial{
        display: flex; 
        flex-wrap: wrap; 
    }

    .testimonial .title{
        width:  100%; 
        margin: 20px 0px 32px 0px; 
    }

    .testimonial .sectitle{
        width:  100%; 
        margin: 0px; 
    }

    .socialicons{
        float: right;
        text-align: right;
        padding: 10px 20px 10px 0px; 
        width: 39%; 
    }

    .footerinfo{
        width: 59%; 
        margin: 0px 0px 0px 35px; 
        padding: 10px 0px 10px 0px; 
    }

    .footeraddress{
        margin: -7px 0px 0px 0px; 
        line-height: 27px; 
    }

    .aboutuslinks{
        width: 60%; 
        display: inline-block;
      }

    .aboutuslinks li{
        margin-bottom: 12px; 
    }

      .contactuslinks{
          width: 36%; 
      }

    .contactuslinks li{
        margin-bottom: 12px; 
    }
}

@media screen and (min-width: 921px){

    .desktop-main-menu-container ul li{
        font-size: 1em; 
    }

    .carouseltext{
        font-size: 1.5em; 
    }

    .client-image{
        height: 54px; 
    }

    .footerinfo{
        width: 50%;
    }

}

@media screen and (min-width: 1025px){
    .client-image{
        height: 58px;
        margin: 16px 30px 16px 30px; 
    }
}

@media screen and (min-width: 1201px){

    .laslogo{
        height: 90px;
    }

    .desktop-main-menu-container ul li{
        font-size: 1.2em; 
    }

    .carouseltext{
        font-size: 1.5em; 
    }

    .top-nav{
        height: 116px;
    }

    .desktop-main-menu-container ul li{
        margin: 0px 15px 0px 0px; 
    }

    .contactdfrontback{
        height: 476px;
    }

    .contactform{
        margin: 86px 35px 125px 20px;
    }

    .carousel{
        height: 476px;
    }

    .slide{
        height: 476px;
    }

    .client-image{
        height: 60px;
        margin: 16px 66px 16px 66px; 
    }

    .footerinfo{
        width: 49%;
    }

}