
    .desktop{
        display: none;
    }

    .title {
        text-align: center;
        font-family: Avenir Next, sans-serif; 
        font-size: 2.2em; 
        padding: 20px 0px 15px 0px; 
    }

    .top-nav{
        background: #f5930b;
        height: 80px; 
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
      
    
    .laslogo {
        margin: 15px 0px 10px 5%;
      }

      .mobile-nav-menus{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 5% 0px 0px; 
        width: 35%; 
      }

      .nav-login{
          background: #fac985;
          border-radius: 15px; 
          padding: 2px 12.5% 2px 12.5%;
          width: 50%;
          text-align: center; 
          font-size: 0.5em;
          font-family: Avenir Next Bold, Avenir, sans-serif;
      }
      
      

      .bar-menu{
        display: inline-block;
        cursor: pointer;
        width: 30%;
      }
      
      .bar{
    
        width: 100%;
        height: 3px;
        background: #fbd49d;
        margin: 4px 0px 4px 0px;
      }

      .slide{
          width: 100%; 
          height: 250px; 
          position: absolute;
          transition: 1s transform, 0s opacity;  
      }

      .carousel{
          overflow-x: hidden; 
          height: 250px; 
          position: relative;
      }

      .carouseltext{
          position: relative;
          top: 50%;
          width: 75%;
          color: #fbfbfb;
          font-family: Avenir Next, sans-serif;
          text-align: center;
          margin: auto;
      }

      .carouselleft{
          position: absolute;
          border-top: 3px solid #fbfbfb; 
          border-left: 3px solid #fbfbfb; 
          transform: rotate(-45deg); 
          top: 50%; 
          left: 5%;
          height: 25px; 
          width: 25px; 
          z-index: 2; 
      }

      .carouselright{
        position: absolute;
        border-top: 3px solid #fbfbfb; 
        border-left: 3px solid #fbfbfb; 
        transform: rotate(135deg); 
        top: 50%; 
        right: 5%;
        height: 25px; 
        width: 25px; 
      }

      .contactustop{
          position: relative;
          border-radius: 15px;
          width: 20%; 
          margin: auto;
          top: 80%; 
          background: #ffffff; 
          text-align: center;
      }

      .contactustoptext{
          font-family: Avenir Next, sans-serif; 
      }

      .contacttitle{
          color: #fffefe;
      }

      .carouselone{
        background-image: linear-gradient(rgba(114,194,103,0.65), rgba(114,194,103,0.65)), url(../images/cogs.jpg);
        background-size: cover;
        top: 0%; 
        transform:translate(0%, 0%);
      }

      .carouseltwo{
        background-image: linear-gradient(rgba(245,110,2, 0.65), rgba(245,110,2, 0.65)), url(../images/peoplequestionmark.jpg);
        background-size: cover;
        top: 0%; 
        transform:translate(100%, 0%);
      }

      .carouselthree{
        background-image: linear-gradient(rgba(16,104,173,0.65), rgba(16,104,173,0.65)), url(../images/faces.jpg);
        background-size: cover;
        top: 0%; 
        transform:translate(200%, 0%);
      }

      .contactfront{
          position: relative; 
      }

    .contactdfrontback{
        background-image: linear-gradient(rgba(114,194,103,0.65), rgba(114,194,103,0.65)), url(../images/cogs.jpg);
        background-size: cover;
        top: 0%; 
        width: 100%; 
      }

      .contactfronttext{
          text-align: center;
          font-family: Avenir Next, sans-serif;
          color: #fbfbfb;
          font-size: 1.1em; 
          position: relative;
          margin: auto;
          padding: 30px 0px 30px 0px; 
      }
      
      .contactform{
          width: 95%; 
          margin: auto; 
          background:rgba(53,50,50, 0.75); 
          padding: 0px 2.5px 20px 2.5px; 
      }

      .in{
          width: 96%; 
          padding: 10px 0px 10px 0px; 
          margin: 0px auto 10px auto; 
          display: block;
          border: none; 
          border-radius: 10px; 

      }

      .contactsubmit{
          background: rgba(160,160,160, 0.5);
          color: #fbfbfb; 
          font-family: Avenir Next, sans-serif;
          display: block;
          font-size: 1em; 
          margin: 20px auto 0px auto;
          border-radius: 15px; 
          padding: 5px 15px 5px 15px; 
      }
    
      .porttitle{
          border-bottom: 1px solid #3C3C3C;
          margin-bottom: 10px; 
          color: #fbfbfb;
      }

      .porttext{
          text-align: center;
          font-family: Avenir Next, sans-serif; 
          color: #fbfbfb;
          font-size: 1.1em; 
          margin: 10px 0px 10px 0px; 
      }

      .portimg{
          margin: auto; 
          display: block;
      }

      .portfolio{
          background: #72c267;
          padding: 0px 0px 20px 0px; 
      }

      .portlinks{
        display: flex; 
        flex-flow: row wrap;
      }

      .card{
          width: 100%;
          border-bottom: 1px solid #3C3C3C;
          margin-bottom: 10px; 
      }

      .trans-btn-container{
          position: relative;
          text-align: center; 
          margin: 20px auto 20px auto; 
          width: 30%; 
      }

      .show-more-work{
        background: #3c3c3c;
        border-radius: 15px; 
        padding: 2px 10px 2px 10px;
        opacity: 0.65;
        height: 115%; 
        position: absolute;
        width: 120%;
        top: -10%;
        left: -10%;
      }

      .trans-work-text{
        font-family: Avenir Next Bold, Avenir, sans-serif;
        color: #fbfbfb; 
        font-size: 1.1em;
        position: relative;
      }
      
      .clientlinks{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;  
          flex-wrap: wrap;
          margin: auto; 
          width: 90%; 
      }

      .client-image {
          align-self: center;
          position: relative;  
          width: 100px;  
          margin: 10px 0px 10px 0px;   
      }

      .client-seven{
          width: 150px;
      }

      .client-eight{
          width: 150px; 
      }

      .client-nine{
          width: 150px;
      }

      .client-ten{
          width: 150px; 
      }

      .logo-client{
          
      }

      .blurb{
          width: 80%; 
          margin: 0px auto 25px auto; 
          padding: 15px 0px 30px 0px; 
          background: #fbfbfb;
          text-align: center;
          border-radius: 15px;  
          display: block;
          font-family: Avenir Next, sans-serif;
      }

      .blurbtcon{
          width: 90%; 
          margin: auto;
      }

      .blurbtext{
          padding: 0px 0px 10px 0px; 
      }

      .whoweare{
        background: #72c267;
        padding: 0px 0px 25px 0px;
      }

      .whoweare .title{
        color: white;
    }

      .testimonial{
          background: #1068ad; 
          padding: 0px 0px 25px 0px; 
      }

      .testimonial .title{
        color: #fbfbfb; 
    }

    .attribution{
        font-size: 1.4em; 
    }

    .personaltitle{
        font-size: 1.15em;
    }
      
      .foot{
        background: #72c267;
        font-size: 0.65em;
      }

      .socialicons{
          text-align: center;
          padding: 10px 0px 10px 0px; 
          color: #fbfbfb;
      }

      .socialicons > * {
          margin: 0px 5px 0px 5px; 
      }

      .footerinfo{
          width: 95%; 
          margin: auto; 
          padding: 0px 0px 10px 0px; 
          color: #fbfbfb; 
      }

      .footeraddress{
          width: 48%; 
          display: inline-block;
          vertical-align: top;
          font-family: Avenir Next, sans-serif;
      }

      .footerlinks{
          width: 40%; 
          display: inline-block;
          font-family: Avenir, sans-serif;
          float: right;
      }

      .aboutuslinks{
        width: 40%; 
        display: inline-block;
      }

      .contactuslinks{
          width: 40%; 
          display: inline-block;
          vertical-align: top;
          float: right;
      }

      .copyrightarea{
          background: #fbfbfb;
          text-align: center; 
          padding: 10px 0px 10px 0px; 
      }

@media screen and (min-width: 479px){

    .carousel{
        height: 275px; 
    }

    .slide{
        height: 275px; 
    }

    .porttitle{
        margin-bottom: 0px; 
    }

    .card{
        width: 50%; 
        border: 1px solid #3C3C3C;
        padding: 10px; 
        display: flex; 
        flex-flow: column;
        align-items: center; 
        margin: 0px; 
    }

    .card:nth-child(odd){
        border-left: none; 
    }

    .card:nth-child(even){
        border-right: none; 
    }

    .client-image{
        width: 150px; 
    }

    .client-seven{
        width: 200px;
    }

    .client-eight{
        width: 200px; 
    }

    .client-nine{
        width: 200px;
    }

    .client-ten{
        width: 200px; 
    }
}

@media screen and (min-width: 768px){
  
    .mobile{
        display: none; 
    }

    .desktop{
        display: inherit;
    }

    .main-navigation{
        margin: 0px 15px  0px 0px; 
    }

    .desktop-main-menu-container ul li{
        float: left; 
        color: #fffefe;
        font-family: Avenir, sans-serif; 
        font-size: 0.8em; 
        margin: 0px 10px 0px 0px; 
        position: relative; 
    }

    .desktop-main-menu-container ul li:last-child{
        padding: 0px 10px 0px 10px; 
        border-radius: 15px; 
        background: #fffefe;  
        color: black; 
    }

    .desktop-main-menu-container ul li ul{
        display: none; 
    }

    .desktop-main-menu-container ul li:hover{
        color: #235a91;
        z-index: 2;
    }

    .desktop-main-menu-container ul li:hover ul{
        display: block; 
        position: absolute; 
        background: rgb(194,192,190,0.6);
        width: 150px; 
        top: 5%; 
        padding: 25px 0px 15px 5px; 
        z-index: -1; 
    }

    .desktop-main-menu-container ul li ul li{
        padding: 2.5px 0px 2.5px 0px; 
        background: #fffefe; 
        margin: 0px 0px 5px 0px; 
        color: black; 
        font-family: Avenir Next, sans-serif; 
        position: relative; 
        left: -5px; 
        width: 150px;
    }

    .desktop-main-menu-container ul li ul li:last-child{
        padding: 0px 10px 0px 10px; 
        border-radius: 0px; 
        background: #fffefe;  
    }

    .main-menu{
        float: right; 
        display: inline-block; 
       
    }

    .contactustop{
        width: 15%; 
    }

    .contactdfrontback{
        height: 325px; 
        display: flex; 
    }

    .contactfronttext{
        width: 60%; 
        display: inline-block; 
    }

    .contactform{
        width: 30%;
        float: right; 
        display: inline-block;
        margin: 10px 20px 10px 20px; 
        border-radius: 12px; 
    }

    .in{
        width: 80%; 
    }

    .portfolio .title{
      padding: 15px 0px 0px 0px;
      border: none;  
    }

    .portlinks{
        flex-flow: nowrap; 
        justify-content: space-around;
    }

    .card{
        border: none;
        width: 100px;   
    }

    .trans-btn-container{
        width: 16%; 
    }



    .client-image{
        width: 200px; 
    }

    .client-seven{
        width: 300px;
    }

    .client-eight{
        width: 300px; 
    }

    .client-nine{
        width: 300px;
    }

    .client-ten{
        width: 300px; 
    }

    .whoweare{
        display: flex;
        flex-flow: wrap; 
    }

    .whoweare .title {
        width: 100%; 
    }

    .blurb{ 
        width: 30%; 
    }

    .blurb img{
        height: 100px; 
    }

    .testimonial{
        display: flex; 
        flex-wrap: wrap; 
    }

    .testimonial .title{
        width:  100%; 
    }

    .socialicons{
        float: right;
        text-align: right;
        padding: 10px 20px 10px 0px; 
        width: 50%; 
    }

    .footerinfo{
        width: 50%; 
        margin: 0px 0px 0px 5px; 
        padding: 0px 0px 10px 0px; 
    }
}
      