/*General CSS for Titles and and displays*/
    
    .desktop{
        display: none;
    }

    .title {
        text-align: center;
        font-family: Avenir Next Light, sans-serif; 
        font-size: 2.2em; 
        padding: 20px 0px 15px 0px;  
    }

    .sectitle{
        text-align: center;
        font-family: Avenir Next Light, sans-serif; 
        font-size: 2.2em; 
        padding: 20px 0px 15px 0px;
    }

    .in{
        width: 96%; 
        padding: 6px 0px 6px 5px;
        margin: 0px auto 10px auto; 
        display: block;
        border: none; 
        border-radius: 10px; 
        font-size: 0.7em; 
    }

/*Top Nave for Mobile*/

    .top-nav{
        background: #f5930b;
        height: 80px; 
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }
      
    .laslogo {
        margin: 15px 0px 10px 5%;
        height: 58px; 
      }

      .mobile-nav-menus{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 5% 0px 0px; 
        width: 35%; 
      }

      .nav-login{
          background: #fac985;
          border-radius: 15px; 
          padding: 2px 12.5% 2px 12.5%;
          width: 50%;
          text-align: center; 
          font-size: 0.5em;
          font-family: Avenir Next Bold, Avenir, sans-serif;
      }
      
      .bar-menu{
        display: inline-block;
        cursor: pointer;
        width: 30%;
      }
      
      .bar{
        width: 100%;
        height: 3px;
        background: #fbd49d;
        margin: 4px 0px 4px 0px;
      }
    
/*CSS for Carousel in general*/

      .slide{
          width: 100%; 
          height: 315px; 
          position: absolute;
          transition: 1s transform, 0s opacity;  
      }

      .carousel{
          overflow-x: hidden; 
          height: 315px; 
          position: relative;
      }

      .carouseltext{
          position: relative;
          top: 36%;
          width: 80%;
          color: #fbfbfb;
          font-family: Avenir Next, sans-serif;
          text-align: center;
          margin: auto;
          text-shadow: 1px 1px #000000;
      }

      .carouselleft{
          position: absolute;
          border-top: 3px solid #fbfbfb; 
          border-left: 3px solid #fbfbfb; 
          transform: rotate(-45deg); 
          top: 40%; 
          left: 3%;
          height: 25px; 
          width: 25px; 
          z-index: 2; 
      }

      .carouselright{
        position: absolute;
        border-top: 3px solid #fbfbfb; 
        border-left: 3px solid #fbfbfb; 
        transform: rotate(135deg); 
        top: 40%; 
        right: 3%;
        height: 25px; 
        width: 25px; 
      }

      .contactustop{
          position: relative;
          border-radius: 15px;
          width: 150px; 
          margin: auto;
          top: 80%; 
          background: #ffffff; 
          text-align: center;
          padding: 1px 0px 1px 0px; 
          font-size: 1.3em; 
          font-family: Avenir Next DemiBold, sans-serif; 
          letter-spacing: 2px; 
      }

      .contacttitle{
          color: #fffefe;
          font-size: 0.9em; 
          padding: 25px 0px 15px 0px; 
          font-family: Avenir Next, sans-serif;
          letter-spacing: 1.5px;  
      }

      .carouselone{
        background-image: linear-gradient(rgba(84,164,73,0.65), rgba(84,164,73,0.65)), url(../images/cogs.jpg);
        background-size: cover;
        top: 0%; 
        transform:translate(0%, 0%);
      }

      .carouseltwo{
        background-image: linear-gradient(rgba(225,90,0, 0.75), rgba(225,90,0, 0.75)), url(../images/peoplequestionmark.jpg);
        background-size: 100% 100%;
        top: 0%; 
        transform:translate(100%, 0%);
      }

      .carouselthree{
        background-image: linear-gradient(rgba(0,84,153,0.75), rgba(0,84,153,0.75)), url(../images/facesnew.png);
        background-size: cover;
        top: 0%; 
        transform:translate(200%, 0%);
      }

/*CSS for contact form in general*/

      .contactfront{
          position: relative; 
      }

    .contactdfrontback{
        background-image: linear-gradient(rgba(84,164,73,0.65), rgba(84,164,73,0.65)), url(../images/cogs.jpg);
        background-size: contain;
        top: 0%; 
        width: 100%; 
      }

      .contactfronttext{
          text-align: center;
          font-family: Avenir Next, sans-serif;
          color: #fbfbfb;
          font-size: 1.15em; 
          position: relative;
          margin: auto;
          padding: 45px 0px 15px 0px; 
          width: 95%; 
          text-shadow: 1px 1px #000000; 
      }
      
      .contactform{
          width: 85%; 
          margin: 15px auto 0px auto; 
          background:rgba(0, 0, 0, 0.55); 
          padding: 0px 2.5px 10px 2.5px; 
      }

      .contactsubmit{
          background: rgba(160,160,160, 0.5);
          color: #fbfbfb; 
          font-family: Avenir Next Bold, sans-serif;
          display: block;
          font-size: 0.7em; 
          margin: 20px auto 0px auto;
          border-radius: 15px; 
          padding: 5px 36px 5px 36px; 
          letter-spacing: 2px; 
      }

/*CSS for portfolio in Mobile*/
    
      .porttitle{
          border-bottom: 1px solid #3C3C3C;
          margin-bottom: 0px; 
          color: #fbfbfb;
          font-size: 2.5em; 
      }

      .porttext{
          text-align: center;
          font-family: Avenir Next Light, sans-serif; 
          color: #fbfbfb;
          font-size: 1.4em; 
          margin: 10px 0px 10px 0px; 
      }

      .portimg{
          margin: auto; 
          display: block;
      }

      .portfolio{
          background: #72c267;
          padding: 0px 0px 0px 0px; 
      }

      .portlinks{
        display: flex; 
        flex-flow: row wrap;
      }

      
      .card{
        width: 50%; 
        border: 1px solid #3C3C3C;
        padding: 10px; 
        display: flex; 
        flex-flow: column;
        align-items: center; 
        margin: 0px; 
    }


      .card:nth-child(odd){
        border-left: none; 
    }

      .card:nth-child(even){
        border-right: none; 
    }

/*CSS for body buttons at end of sections*/

      .trans-btn-container{
        position: relative;
        text-align: center; 
        margin: 20px auto 20px auto; 
        width: 150px; 
        padding: 3px 0px 3px 0px;
      }

      .show-more-work{
        background: #3c3c3c;
        border-radius: 15px; 
        padding: 2px 10px 2px 10px;
        opacity: 0.65;
        height: 115%; 
        position: absolute;
        width: 100%;
        top: -10%;
        left: 0%;
      }

      .trans-work-text{
        font-family: Avenir Next Bold, Avenir, sans-serif;
        color: #fbfbfb; 
        font-size: 0.9em;
        position: relative;
        letter-spacing: 2px; 
      }

/*Our clients section CSS in general*/

      .ourclientstitle{
        font-size: 2em;
        padding: 35px 0px 25px 0px; 
      }
      
      .clientlinks{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;  
          flex-wrap: wrap;
          margin: 0px auto 20px auto; 
      }

      .client-image {
          align-self: center;
          position: relative;  
          width: 90%; 
          margin: 10px auto 0px auto;   
      }

      .logo-client{
          margin: 0px auto 0px auto; 
      }

/*General CSS for testimonial and Who We Are Sections*/

      .blurb{
          width: 80%; 
          margin: 0px auto 25px auto; 
          padding: 15px 0px 30px 0px; 
          background: #fbfbfb;
          text-align: center;
          border-radius: 15px;  
          display: block;
          font-family: Avenir Next, sans-serif;
      }

      .blurbtcon{
          width: 90%; 
          margin: auto; 
      }

      .subtitle{
          font-family: Avenir Next DemiBold, sans-serif; 
          margin: 15px 0px 0px 0px;
      }

      .blurbtext{
          padding: 0px 0px 10px 0px; 
          line-height: 1.25; 
      }

/* Who we are section CSS*/

      .whoweare{
        background: #72c267;
        padding: 0px 0px 25px 0px;
      }

      .whoweare .title{
        color: white;
        font-size: 2em; 
    }

/*Testimonial section general CSS*/

      .testimonial{
          background: #1068ad; 
          padding: 0px 0px 25px 0px; 
      }

      .testimonial .title{
        color: #fbfbfb; 
        font-size: 2em; 
    }

      .testimonial .sectitle{
        color: #fbfbfb; 
        font-size: 1.75em;
    }

      .testimonial .blurb{
        padding: 20px 0px 0px 0px;
        height: 225px;
    }

      .attribution{
        font-family: Avenir Next DemiBold, sans-serif; 
        font-size: 1.4em; 
    }

      .personaltitle{
        font-family: Avenir Next DemiBold, sans-serif; 
        font-size: 1.1em;
    }

/*Footer section mobile CSS*/
      
      .foot{
        background: #72c267;
        font-size: 0.65em;
        padding: 20px 0px 0px 0px; 
        line-height: 16px; 
      }

      .socialicons{
          text-align: center;
          padding: 10px 0px 10px 0px; 
          color: #fbfbfb;
      }

      .socialicons > * {
          margin: 0px 5px 0px 5px; 
      }

      .footerinfo{
          width: 95%; 
          margin: auto; 
          padding: 0px 0px 10px 0px; 
          color: #fbfbfb; 
      }

      .footeraddress{
          width: 48%; 
          display: inline-block;
          vertical-align: top;
          font-family: Avenir Next, sans-serif;
          line-height: 18px; 
      }

      .footerlinks{
          width: 48%; 
          display: inline-block;
          font-family: Avenir, sans-serif;
          float: right;
      }

      .aboutuslinks{
        width: 50%; 
        display: inline-block;
      }

      .aboutuslinks li{
          margin-bottom: 3px; 
      }

      .contactuslinks{
          width: 40%; 
          display: inline-block;
          vertical-align: top;
          float: right;
      }

      .contactuslinks li{
          margin-bottom: 3px; 
      }

      .copyrightarea{
          background: #fbfbfb;
          text-align: center; 
          padding: 10px 0px 10px 0px; 
          font-family: Avenir Next, sans-serif; 
      }

@media screen and (min-width: 400px){
    .contactfronttext{
        font-size: 1.3em; 
        width: 90%
    }

    .contacttitle{
        font-size: 1em; 
    }

    .in{
        font-size: 0.75em;  
    }

    .contactsubmit{
        font-size: 0.8em; 
    }

    .carouseltext{
        font-size: 1.2em; 
    }
}

@media screen and (min-width: 479px){

/*Changes for 479px sizes and above*/

    .in{
        font-size: 0.95em; 
    }

    .carousel{
        height: 375px; 
    }

    .slide{
        height: 375px; 
    }

    .carouseltext{
        font-size: 1.35em; 
    }

    .contactfronttext{
        font-size: 1.6em; 
        padding: 45px 0px 20px 0px; 
    }

    .contacttitle{
        font-size: 1.2em; 
        padding:  20px 0px 15px 0px;
    }

    .contactsubmit{
        font-size: 0.95em; 
    }

    .ourclientstitle{
        font-size: 2.5em; 
    }

    .whoweare .title{
        font-size: 2.5em; 
    }

    .testimonial .title{
        font-size: 2.5em; 
    }

    .testimonial .blurb{
        padding: 40px 0px 0px 0px;
        height: 200px;
    }

    .foot{
        font-size: 0.85em; 
    }
}

@media screen and (min-width: 579px){
    
    .carouseltext{
        font-size: 1.5em; 
    }

    .contactfronttext{
        font-size: 2em; 
    }

}

@media screen and (min-width: 768px){
  
    .mobile{
        display: none; 
    }

    .desktop{
        display: inherit;
    }
    
    .top-nav{
        height: 100px; 
    }

    .main-navigation{
        margin: 0px 15px  0px 0px; 
    }

    .laslogo{
        height: 72px;
    }

    .desktop-main-menu-container ul li{
        float: left; 
        color: #ffffff;
        font-family: Avenir Next, sans-serif; 
        font-size: 0.50em; 
        margin: 0px 10px 0px 0px; 
        position: relative; 
    }

    .desktop-main-menu-container ul li:last-child{
        padding: 5px 30px 3px 30px; 
        border-radius: 15px; 
        background: #fffefe;  
        color: black; 
        margin: -5px 10px 0px 5px; 
        font-family: Avenir Next Bold, sans-serif; 
    }

    .desktop-main-menu-container ul li ul{
        display: none; 
    }

    .desktop-main-menu-container ul li:hover{
        color: #235a91;
        z-index: 2;
    }

    .desktop-main-menu-container ul li:hover ul{
        display: block; 
        position: absolute; 
        background: rgba(234,236,234,0.75);
        width: 250px; 
        top: 5%; 
        left: -10%; 
        padding: 36px 0px 15px 5px; 
        z-index: -1; 
    }

    .desktop-main-menu-container ul li ul li{
        padding: 2.5px 0px 2.5px 10px; 
        background: #fffefe; 
        margin: 0px 0px 5px 0px; 
        color: rgb(100, 98, 98); 
        font-family: Avenir Next, sans-serif; 
        position: relative; 
        left: -5px; 
        width: 250px;
    }

    .desktop-main-menu-container ul li ul li:last-child{
        padding: 0px 10px 0px 10px; 
        border-radius: 0px; 
        background: #fffefe;  
        color: rgb(100, 98, 98);
        margin: 0px 0px 5px 0px;
        font-family: Avenir Next, sans-serif; 
    }

    .main-menu{
        float: right; 
        display: inline-block; 
       
    }

    .carouseltext{
        width: 90%; 
        font-size: 1.65em; 
    }

    .carousel{
        height: 400px; 
    }

    .slide{
        height: 400px;
    }

    .contactustop{
        width: 160px; 
        font-size: 1.2em; 
        padding: 3px 0px 3px 0px; 
    }

    .contactdfrontback{
        height: 400px; 
        display: flex; 
        background-size: cover;
    }

    .contactfronttext{
        width: 60%; 
        display: inline-block; 
        font-size: 1.75em; 
        text-shadow: 2px 2px #000000; 
    }

    .contactform{
        width: 250px;
        float: right; 
        display: inline-block;
        margin: 55px 35px 37px 20px;
        border-radius: 12px; 
    }

    .contacttitle{
        padding: 15px 0px 15px 0px;
    }

    .carouselleft{
        height: 36px;
        width: 36px;
    }

    .carouselright{
        height: 36px;
        width: 36px; 
    }

    .in{
        width: 80%; 
        border-radius: 30px; 
        padding:  10px 0px 10px 5px;
        font-size: 0.75em; 
    }

    .portfolio .title{
      padding: 30px 0px 20px 0px;
      border: none;  
    }

    .porttitle{
        font-size: 2.5em; 
    }

    .porttext{
        font-size: 1.2em; 
    }
    
    .portfolio{
        padding: 0px 0px 30px 0px; 
    }

    .portlinks{
        flex-flow: nowrap; 
        justify-content: space-around;
    }

    .card{
        border: none;
        width: 155px;   
    }

    .trans-btn-container{
        width: 160px;
        padding: 2px 0px 2px 0px;
        margin: 36px auto 38px auto;   
    }

    .testimonial .blurb{
        height: 300px; 
        padding: 25px 0px 36px 0px;
    }

    .testimonial .sectitle{
        font-size: 2.7em;
    }

    .testimonial .trans-btn-container{
        margin: 12px auto 0px auto; 
    }

    .ourclientstitle{
        font-size: 2.5em; 
        padding: 35px 0px 0px 0px; 
    }

    .whoweare{
        display: flex;
        flex-flow: wrap; 
    }

    .whoweare .title {
        width: 100%; 
        margin: 20px 0px 32px 0px; 
        font-size: 2.7em; 
    }

    .blurb{ 
        width: 30%; 
    }

    .blurb img{
        height: 100px; 
    }

    .blurbtcon{
        position: relative;
        transform: translate(-50%, -50%); 
        top: 50%; 
        left: 50%;
        margin: 0px 0px 0px 0px; 
    }

    .testimonial{
        display: flex; 
        flex-wrap: wrap; 
    }

    .testimonial .title{
        width:  100%; 
        margin: 20px 0px 32px 0px; 
        font-size: 2.7em; 
    }

    .testimonial .sectitle{
        width:  100%; 
        margin: 0px; 
    }

    .socialicons{
        float: right;
        text-align: right;
        padding: 10px 20px 10px 0px; 
        width: 39%; 
    }

    .footerinfo{
        width: 59%; 
        margin: 0px 0px 0px 35px; 
        padding: 10px 0px 10px 0px; 
    }

    .footeraddress{
        margin: -7px 0px 0px 0px; 
        line-height: 27px; 
    }

    .aboutuslinks{
        width: 60%; 
        display: inline-block;
      }

    .aboutuslinks li{
        margin-bottom: 12px; 
    }

      .contactuslinks{
          width: 36%; 
      }

    .contactuslinks li{
        margin-bottom: 12px; 
    }

    
}

@media screen and (min-width: 852px){
    .desktop-main-menu-container ul li{
        font-size: 0.60em; 
    }

    .contactfronttext{
        font-size: 1.85em; 
    }

    .carouseltext{
        font-size: 1.85em; 
    }

    .carousel{
        height: 450px;
    }

    .slide{
        height: 450px;
    }

    .contactdfrontback{
        height: 450px;
    }

    .contactform{
        margin: 86px 35px 65px 20px;
    }

    
}

@media screen and (min-width: 921px){

    .top-nav{
        height: 125px;
    }

    .laslogo{
        height: 100px;
    }

    .desktop-main-menu-container ul li{
        font-size: 0.68em; 
    }

    .carousel{
        height: 500px;
    }

    .slide{
        height: 500px;
    }

    .contactdfrontback{
        height: 500px;
    }

    .contactfronttext{
        font-size: 2.05em; 
    }
    
    .carouseltext{
        font-size: 2em; 
    }

    .contactform{
        margin: 86px 35px 120px 20px;
        width: 280px; 
    }

    .contacttitle{
        font-size: 1.45em; 
    }

    .footerinfo{
        width: 50%;
    }

}

@media screen and (min-width: 1025px){

    .in{
        width: 90%; 
    }

    .desktop-main-menu-container ul li{
        font-size: 0.8em
    }

    .carousel{
        height: 550px;
    }

    .slide{
        height: 550px;
    }

    .contactdfrontback{
        height: 550px;
    }

    .contactfronttext{
        font-size: 2.3em; 
        padding: 0px 0px 0px 0px; 
    }

    .contactform{
        margin: 110px 35px 140px 20px;
    }

    .carouseltext{
        font-size: 2.2em; 
    }

    .contactustop{
        width: 180px; 
    }

    .card{
        width: 200px; 
    }

    .porttitle{
        font-size: 3.3em; 
    }

    .porttext{
        font-size: 1.5em; 
    }

    .trans-btn-container{
        width: 180px; 
    }

    .trans-work-text{
        font-size: 1.1em; 
    }

    .testimonial{
        padding: 0px 0px 40px 0px; 
    }
}

@media screen and (min-width: 1201px){

    .in{
        font-size: 0.9em; 
    }

    .top-nav{
        height: 160px; 
    }

    .laslogo{
        height: 124px;
    }

    .desktop-main-menu-container ul li{
        font-size: 0.9em; 
    }

    .desktop-main-menu-container ul li:hover ul{
        width: 300px; 
    }

    .desktop-main-menu-container ul li ul li{
        width: 300px; 
    }

    .desktop-main-menu-container ul li{
        margin: 0px 15px 0px 0px; 
    }

    .contactdfrontback{
        height: 575px;
    }

    .contactfronttext{
        font-size: 2.65em; 
    }

    .contactform{
        margin: 110px 35px 150px 20px;
        width: 300px; 
    }

    .contacttitle{
        font-size: 1.65em; 
    }

    .contactsubmit{
        font-size: 1.05em; 
    }

    .carouseltext{
        font-size: 2.4em; 
    }

    .carousel{
        height: 575px;
    }

    .slide{
        height: 575px;
    }

    .footerinfo{
        width: 49%;
    }

}

@media screen and (min-width: 1350px){

    .slide{
        height: 650px; 
    }

    .carousel{
        height: 650px;
    }

    .contactdfrontback{
        height: 650px;
    }

    .carouseltext{
        font-size: 2.75em; 
    }

    .contactfronttext{
        font-size: 3em; 
    }

    .desktop-main-menu-container ul li {
        font-size: 1em; 
    }

    .contactform{
        margin: 140px 35px 190px 20px; 
    }

}

@media screen and (min-width: 1500px){

    .slide{
        height: 750px; 
    }

    .carousel{
        height: 750px;
    }

    .contactdfrontback{
        height: 750px;
    }

    .carouseltext{
        font-size: 3em; 
    }

    .contactfronttext{
        font-size: 3em; 
    }

    .desktop-main-menu-container ul li {
        font-size: 1.2em; 
    }

    .contactform{
        margin: 176px 35px 265px 20px; 
    }

}